@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* semantic color variables for this project */
:root {
  --vt-c-white: #ffffff;
  --text-black: #000000;
  /* --color-accent: #9F00FF; */
  --color-accent: #D61414;
  --color-accent-haze: #D6141450;
  --color-error: #de5e5e;

  --color-heading: var(--text-black);
  --color-text: var(--text-black);
  --color-text-dark-bg: var(--vt-c-white);
  --color-text-haze: rgb(137, 137, 137);
  
  --color-background: var(--light-background);
  --color-block: #F2F4F4;
  --color-block-hover: #EDEFEF;

  --gradient-background-dark: linear-gradient(180deg, #141718, #363139);
  --light-background: #F9FAFB;
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
textarea {
  font-family: Montserrat,"Roboto Mono", monospace;
}

button {
  font-family: Montserrat;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Montserrat,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
