@import './base.css';
* {
  margin: 0;
  padding: 0;
  }

.navbar {
  height: 80px;
  width: auto;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo { 
  font-weight: 900;
  font-size: 24px;
}

.text-accent {
  color: #9F00FF;
  font-weight: inherit; 
  font-size: inherit; 
}