@import './base.css';
* {
  margin: 0;
  padding: 0;
  }

.navbar {
  height: 80px;
  width: auto;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo { 
  font-weight: 900;
  font-size: 24px;
}

.text-accent {
  color: var(--color-accent);
  font-weight: inherit; 
  font-size: inherit; 
}

body::-webkit-scrollbar {
  width: 8px; 
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(190,190,190); 
  border-radius: 3px; 
}

body::-webkit-scrollbar-track {
  background: transparent; 
}